
body {
  background-color: #f8f7ef;
}

.section {
  padding: 4rem 0 4rem;
}
.section-heading,
.section-description {
  padding: 3rem 8rem 3rem;
}

.sectiontitle {
  font-size: 5rem;
  margin-top:6rem;
  margin-bottom:6rem;
  font-weight: 100;
  text-align: center;
}

.aboutme {
  background-image: url('../images/header.jpg');
  background-position: 50% 45%;
  background-size: cover;
  text-align: right;
  /*color: #fff;*/
  
  padding-left:0;
  padding-right:0;
  color:white;


}

.loopingthumb {
  background-size: cover; height: 100%; width:100%; border-radius: 12px;
  background-position: bottom;
}
.thumbnail {
	width: 22%;
	float: left;
	min-width: 15rem;
	
	padding: 1rem;

}
.thumbnail img {
	border-radius: 5px;
}

.separator {
  background-image: url('../images/pretentiousimage1.jpg');
  background-position: center;
  background-size: cover;
  /*color: #fff;*/
  padding-top: 35rem;
}

.footer {
  background-image: url('../images/panoramical1.jpg');
  background-size: cover;
  background-position: center;
  /*color: #fff;*/
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.description {
  text-align:left;
  font-size: 20px;
  font-weight: 100;
}

.biothumb {
  width:110px;
  height:110px;
  display:inline-block;
  text-align: center;
  margin-left:0px;
}
.biotext {
  text-align: left;
  font-size: 18px;
  padding-left:15px;
  padding-right:15px;
}
.biotext a {
  font-size: 24px;
  text-align: center;
  color:black;
  text-decoration: none;
}
.biotext a:hover {
  color:black;
}

.featureblock {
  border: 0px solid #ffdfdf;
  background-color: #e9e9e9;
  border-radius: 10px;

  margin-bottom: 30px;
  min-height: 250px;
}
.featureblock h2 {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.featureblock_featureimg {
  background-position: center;
  background-size: cover;
  height:150px;
  position:relative;
}
.featureblock_text {
  padding: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.featureblock_mockuptext {
  position: absolute; font-size: 10px; font-weight:400; right:10px; bottom:-47px;
}
.accolades {
  text-align: center;
  line-height: 16px;
}
.accolades a {
  text-decoration: none;
}
.accolade-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 0px;
  
}
.accolade-subtitle {
  font-size: 13px;
  line-height: 0px;
}
.fifth {
  width:16%;
}
.budgettotal {
  font-size: 24px; 
  font-weight: 200;
}