@font-face {    font-family: 'Pebble';   src: url('Pebble.ttf') format('truetype');}

body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    background-color: #000000;
}

#orientation {
    margin:0;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;

    background-image: url(../images/orientation.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0086f1;
    z-index: 999;
    display: none;
}

#container {
    margin:0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

#game {
    margin:0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height: 100%;
}

#game > * {
    /*cursor: none;*/
}

#overlay {
    
    font-family:'Pebble';

    
}
#game_footer {
    font-family: 'Helvetica';
    width: 850px;
    height: 150px;

    position:absolute;
    left:50%;
    bottom:0;
    margin-left:-425px;
    margin-bottom:0px;

    line-height: 150px;
    background-color: #FFFFFF;
    color:#000000;
    font-size: 24px;
}
#game_mainmenufooter {
    font-family: 'Helvetica';
    width: 850px;
    height: 75px;

    position:absolute;
    left:50%;
    bottom:0;
    margin-left:-425px;
    margin-bottom:0px;

    line-height: 75px;
    background-color: #FFFFFF;
    color:#000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
}
#game_mainmenufooter a {
    color: #990AE3;
    text-decoration: none;
}

.game_popup {
    position:absolute;
    left:50%;
    bottom:158px;
    margin-left:-425px;
    margin-top:-265px;

    width:850px;
    height:530px;
    background-color: #F2F2F2;

}
.game_popup_button {
    width: 285px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #990AE3;
    font-size: 12px;
    font-family: 'Helvetica';
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;

}
.game_popup_button:hover {
    background-color: #990AE3;
    color: #FFFFFF;
}

.footer_button {
    background-color: #990AE3;
    color: #FFFFFF;
    position:absolute;
    right:50px;
    top:50px;
}
.footer_button:hover {
    background-color: #FFFFFF;
    color: #990AE3;
}

.hiscore_entry {
    width:100%;
    color: #000000;
    font-family: 'Pebble';
    font-size: 40px;
    text-align: left;
}
.hiscore_entry p { padding:0px; margin:0px;}

.hiscore_entry_num {
    display:inline-block;
    margin-left: 20px;
    width:66px;
}
.hiscore_entry_name {
    display:inline-block;
    width:560px;
}
.hiscore_entry_points {
    display:inline-block;
    width:95px;
}
.hiscore_p {
    display:inline-block;
    position:relative;
    right:0px;
    bottom:0px;
    font-family: 'Helvetica';
    font-size: 16px;
}
.hiscore_separator {
    background-image:url('../images/leaderboards_separator.png');
    background-repeat: no-repeat;
    height:15px;
}
.hiscore_entry form {
    display:inline-block;
    color: #990AE3;
    margin:0;
}
.hiscore_entry input {
    color: #990AE3;
    border:none;
    width:540px;
    background:transparent;
    font-family: 'Pebble';
    font-size: 40px;
    text-align: left;
    
    /*
    text-align: center;
    position:absolute;
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    padding: 10px;
    margin:auto;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-150px;
    */
}

.leaderboards_entries_container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.leaderboards_entries_column {

}
.leaderboards_entry {
    width:100%;
    color: #000000;
    font-family: 'Pebble';
    font-size: 24px;
    text-align: left;
}

.leaderboards_entry_num {
    display:inline-block;
    width:43px;
}
.leaderboards_entry_name {
    display:inline-block;
    width:210px;
}
.leaderboards_entry_points {
    display:inline-block;
    width:58px;
}
.leaderboards_p {
    display:inline-block;
    font-family: 'Helvetica';
    font-size: 16px;
}
.leaderboards_separator {
    background-image:url('../images/leaderboards_separator.png');
    background-repeat: no-repeat;
    width:100%;
    height:9px;
}

.pause_popup {
    background-image:url('../images/pause_bg.jpg');
    text-align: center;
}
.pause_button {
    background-color: #F2F2F2;
}
.text-overlay {
  font-family: "Pebble";
  border: none;
  background: none;
  font-size: 2.9vw;
  text-transform: uppercase;
}

input.text-overlay:focus::-webkit-input-placeholder { color:transparent; }
input.text-overlay:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input.text-overlay:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input.text-overlay:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
